/*************** GENERAL ***************/
body {
	margin:0;
	padding: 0;
	height: 100%;
	font-family: 'Lato', sans-serif;
	background-color: #f3f3f3;
}
/*************** GENERAL CONTAINERS ***************/
.wrapper {
	display: flex;
	margin: 0 auto;
	min-height: 100vh;
	overflow: hidden;
}
.row {
	display: flex;
	flex-direction: row;
}
.col {
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 15px;
	max-height: calc(100vh - 50px);
	background-color: #ffffff;
	border-radius: 2px;
	box-shadow: 0px 0px 4px rgba(0,0,0,.1);
}
.col-1-5 {
	/*flex-grow: 1;*/
}
.col-4-5 {
	flex-grow: 1;
}

/*************** TEXT ***************/
h3 {
    margin: 0px 0px 0px;
    font-size: 13px;
	color: white;
	text-transform: uppercase;
}
.subheader {
    margin: 0px 0px 20px;
    font-size: 12px;
    color: #00bcdc;
}

/*************** ICONS ***************/
i {
	margin-right: 10px;
}
.chartMenuButton:hover::before {
    left: -30px;
    transition: .5s;
}
.chartMenuButton {
    position: absolute;
    top: 0px;
    right: -10px;
    padding: 12px;
    transition: .5s;
    cursor: pointer;
}
/*************** PROFILE BLOCK ***************/
#bigfoot {
    padding: 10px;
	max-width:50px;
	background: #292a38;
}
.bigfoot--image {
    width: 50px;
    height: 50px;
    float: left;
    background-position: center;
    background-size: 100px;
    background-image: url(images/Harry.jpg);
	border-radius: 500px;
}
/*************** CHART BLOCK ***************/
nav {
    margin: 10px 0px;
	border-bottom: 2px solid #e2e2e2;
}
nav ul {
    margin: 0 0 -2px 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 13px;
}
nav li {
    display: inline-block;
    margin-right: 10px;
	padding-bottom: 5px;
	color: #bfbfbf;
	border-bottom: 2px solid #ffffff00;
	cursor: pointer;
}
nav li.active {
    color: #292a38;
    border-bottom: 2px solid;    
}
nav li:hover {
    color: #00bcdc;
    transition: .5s;
}
#bigfoot_enviroment {
	margin-right: -350px;
	padding: 25px;
	color: #696969;
	overflow-y: scroll;
}
#bigfoot_enviroment.active {
    margin-right: 0px;
}
#bigfoot_enviroment h3 {
    color: #292a38;
}
.bigfoot_enviroment {
    margin-right: 20px;
}
#bigfoot_charts, 
#bigfoot_tables {
	display: none;
	width: 300px;
}
#bigfoot_charts.active, 
#bigfoot_tables.active {
	display: block;
}
#bigfoot_tables table {
    margin-bottom: 30px;
}
#bigfoot_tables th {
	color: #292a38;
    text-align: left;
}
#bigfoot_tables tr:nth-child(even) {
    background-color: #c8f7ff;
}
#bigfoot_tables td {
    min-width: 146px;
}
.bigfoot_charts {
    width: 100%;
}
.bigfoot_charts_container {
    margin: 0 auto;
	max-width: 300px;   
}


/*************** MAP BLOCK ***************/
#bigfoot_mapping {
    margin: 0px;
    padding: 0px;
}
#bigfoot_mapping--map {
    min-height: 100%;
	background: url(images/map.png);
}
#bigfoot_mapping--proximity {
    position: relative;
	margin: 0px;
	padding: 10px 20px;
	width: calc(100% - 40px);
	float: left;
	font-size: 14px;
    background-color: #daf954;  
}
#bigfoot_mapping--proximity i+p {
	font-weight: bold;
}
#bigfoot_mapping--proximity p {
    display: inline-block;
	margin: 0px;
	padding: 0px;
}
#bigfoot_mapping--proximity span {
    font-weight: bold;
    text-decoration: underline;
}

/*************** MOBILE ***************/
@media (max-width: 720px) {
	#bigfoot_enviroment {
		margin-right: 0px;
	}
	#bigfoot_enviroment.active {
		margin-right: -350px;
	}
	.fa-arrow-right:before {
		content: "\f060";
	}
	.fa-arrow-left:before {
		content: "\f061";
	}
}
